<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a href="{{ "/" | relative_url }}">
      <svg height="38" width="38" class="site-symbol palm">
        <circle cx="18" cy="18" r="14" stroke="#111" stroke-width="4" fill-opacity="0.0"/>
      </svg>
      <svg height="50" width="50" class="site-symbol laptop">
        <circle cx="25" cy="25" r="20" stroke="#111" stroke-width="6" fill-opacity="0.0"/>
      </svg>
    </a>
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

  </div>
</header>
